* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Asap", sans-serif;
}

body {
  background-color: rgb(175, 193, 228);
  margin-top: 100px;
}

header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

header img {
  height: 36px;
  margin-right: 16px;
}

header h1 {
  font-size: 40px;
  font-weight: bold;
}

.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

form {
  display: flex;
  max-width: 700px;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 56px;
}

form input {
  background-color: #fff;
  font-size: 20px;
  padding: 8px;
  border-bottom: 2px solid #000;
  border: none;
}

form button {
  background-color: rgb(59, 59, 224);
  color: #fff;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  padding: 8px;
}

table {
  max-width: 700px;
  width: 100%;
}

table th {
  font-size: 24px;
  font-weight: bold;
  border-bottom: 2px solid #000;
  padding: 16px;
}

table td {
  font-size: 18px;
  text-align: center;
  padding: 16px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}